@model AspNetMVC.Models.User

<!DOCTYPE html>
<html>
<head>
    <style>
        h2 {
            font-size: 24px;
            color: #333;
        }

        .form-group {
            margin-bottom: 20px;
        }

        label {
            font-weight: bold;
            display: block;
        }

        .form-control {
            width: 100%;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .btn {
            background-color: #007bff;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

            .btn:hover {
                background-color: #0056b3;
            }
    </style>
</head>
<body>
    <h2>Registartion</h2>
    <form asp-action="Register" method="post">
        <div class="form-group">
            <label asp-for="Name">Name:</label>
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Age">Age:</label>
            <input asp-for="Age" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</body>
</html>
